@font-face {
	font-family: 'Lena';
	//src: url('../fonts/subset-Lena.eot');
	src: url('../fonts/subset-Lena.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-Lena.woff?124') format('woff'),
	url('../fonts/subset-Lena.ttf?124') format('truetype');
	font-weight: normal;
	font-style: normal;
}