@font-face {
	font-family: 'Lena';
	src: url('../fonts/subset-Lena.eot?11');
	src: url('../fonts/subset-Lena.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-Lena.woff2?11') format('woff2'),
	url('../fonts/subset-Lena.woff?11') format('woff'),
	url('../fonts/subset-Lena.ttf?11') format('truetype');
	font-weight: normal;
	font-style: normal;
}