body{
	background: $color-bg;
	font-family: $font;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6;
	color: $black;
}

::-moz-selection { background: $orange-hover; }
::selection { background: $orange-hover; }

a{
	color: inherit;
	text-decoration: none;
}

.fancy,.fancy-map,.fancy-video{
	&:focus{
		outline: none;
	}
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-family: $font-title;
	font-weight: normal;
}

h1,.h1{
	font-size: 55px;
	line-height: 1;
	@include res(xl){
		font-size: 48px;
	}
	@include res(l){
		font-size: 40px;
	}
	@include res(s){
		font-size: 30px;
	}
	@include res(xs){
		font-size: 24px;
	}
}

h2,.h2{
	font-size: 48px;
	line-height: 1;
	@include res(xl){
		font-size: 40px;
	}
	@include res(l){
		font-size: 34px;
	}
	@include res(s){
		font-size: 24px;
	}
	@include res(xs){
		font-size: 20px;
	}
}

h3,.h3{
	font-size: 24px;
	line-height: 1;
	@include res(l){
		font-size: 20px;
	}
	@include res(s){
		font-size: 18px;
	}
	@include res(xs){
		font-size: 16px;
	}
}

h4,.h4{
	font-size: 18px;
	line-height: 1.1;
	@include res(l){
		font-size: 16px;
	}
	@include res(xs){
		font-size: 14px;
	}
}

h5,.h5{
	font-size: 16px;
	line-height: 1.2;
	@include res(l){
		font-size: 15px;
	}
	@include res(xs){
		font-size: 14px;
	}
}


.user-content {
	font-size: 15px;
	line-height: 1.6;
	@include res(m) {
		font-size: 14px;
		line-height:1.5;
	}
	p {
		font-size: 15px;
		line-height: 1.6;
		padding-bottom: 0.8em;
		@include res(m) {
			font-size: 14px;
			padding-bottom: 0.6em;
		}
	}
	ul {
		list-style: none;
		li {
			position: relative;
			padding-left: 25px;
			padding-bottom: 12px;
			@include res(s) {
				padding-left: 20px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0.3em;
				left: 0;
				width: 16px;
				height: 14px;
				background: url("../img/svg/icon-list-style.svg") no-repeat center;
				background-size: cover;
				@include res(l) {
					width: 14px;
					height: 12px;
				}
				@include res(s) {
					top: 0.4em;
					width: 12px;
					height: 10px;
				}
			}
		}
	}
}


//links
.link {
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	transition: color 0.3s ease;
	font-weight: 500;
	line-height: 1;

	&:hover{
		color: $orange;
	}

	.i-right {
		margin-left: 7px;
		margin-bottom: -2px;
		color: $orange;
	}

	&--orange{
		color: $orange;

		&:hover{
			color: $orange-hover;
		}
	}
}
//links


.section-title{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 60px;
	@include res(xl){
		margin-bottom: $pad-l;
	}
	@include res(m){
		flex-wrap: wrap;
		margin-bottom: $pad-m;
	}

	.h1{
		display: block;
		flex-shrink: 1;
		@include res(m){
			width: 100%;
			margin-bottom: 0.3em;
		}
	}
}


.s-page-title{
	padding: $pad-l 0 $pad-m 0;
	@include res(xl){
		padding: $pad-s 0 $pad-m 0;
	}
	@include res(l){
		padding: $pad-xs 0 $pad-s 0;
	}

	.h1{
		padding-left: 20px;
		@include res(m){
			padding-left: 0;
		}
	}
}