//intro-slider
.intro-slider{

	.flickity-prev-next-button{
		z-index: 50;
		@include res(s){
			top: 16px;
			transform: none;
		}

		&.previous{
			left: 4px;
		}

		&.next{
			right: 4px;
		}
	}
}

.intro-slide{
	width: 100%;
	padding: 130px 95px 60px 95px;
	height: 652px;
	min-height: inherit;
	@include res(xl){
		height: 500px;
		padding: 80px 95px 60px 95px;
	}
	@include res(l){
		height: 400px;
		padding: 40px 80px 40px 80px;
	}
	@include res(s){
		height: auto;
		padding: 20px 20px 40px 20px;
	}

	.h1{
		display: block;
		color: #FFF;
		font-size: 54px;
		text-shadow: 0 0.1em 8px rgba(135,81,95,0.4);
		margin-bottom: $pad-m;
		@include res(l){
			font-size: 48px;
		}
		@include res(s){
			font-size: 24px;
			padding-left: 30px;
			padding-right: 30px;
			min-height: 2em;
		}
	}
}

.intro-slide-sale{
	display: flex;
	align-items: center;
	@include res(s){
		flex-wrap: wrap;
	}

	strong{
		display: block;
		font-size: 100px;
		font-family: $font-title;
		font-weight: normal;
		line-height: 1;
		margin-right: $pad-m;
		text-shadow: 0 1px 1px rgba(255,255,255,0.8);
		@include res(xl){
			font-size: 80px;
		}
		@include res(l){
			font-size: 54px;
		}
		@include res(s){
			font-size: 36px;
			width: 100%;
			margin-bottom: $pad-xs;
		}
	}

	small{
		display: block;
		margin-top: -0.8em;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.2;
		text-shadow: 0 1px 1px rgba(255,255,255,0.8);
		@include res(xl){
			font-size: 20px;
		}
		@include res(l){
			font-size: 18px;
		}
		@include res(s){
			font-size: 16px;
		}
	}
}

.intro-slide-promocode{
	margin-top: $pad-l;
	display: inline-block;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	padding: 20px 40px;
	background: url("../img/svg/promocode-outline.svg") center top no-repeat;
	background-size: 100% 100%;
	text-shadow: 0 2px 5px rgba(135,81,95,0.5);
	@include res(s){
		font-size: 14px;
		padding: 10px 20px;
		margin-top: $pad-s;
	}
}
//intro-slider


//s-home-triggers
.s-home-triggers{
	background: #FFF;
	padding: $pad-m 0;
	@include res(l){
		padding: $pad-s 0;
	}
	@include res(s){
		padding-top: 0;
	}
}

.home-triggers-row{
	display: flex;
	justify-content: space-between;
	margin-left: -$pad-s;
	margin-right: -$pad-s;
	@include res(s){
		flex-wrap: wrap;
	}
}

.home-trigger{
	display: flex;
	align-items: flex-start;
	margin: 0 $pad-s;
	flex-shrink: 1;
	@include res(m){
		width: calc(100% / 3);
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	@include res(s){
		width: 100%;
		margin-bottom: $pad-m;
	}

	.h3{
		display: block;
		margin-bottom: $pad-s;
		@include res(l){
			margin-bottom: $pad-xs;
		}
		@include res(m){
			margin-bottom: 0;
		}
	}

	&__descr{
		display: block;
		line-height: 1.4;
		font-weight: 500;
		@include res(l){
			font-size: 12px;
		}
	}

	&__text{
		max-width: 220px;
		margin-right: $pad-xs;
		flex-shrink: 1;
		@include res(m){
			width: 100%;
			max-width: 300px;
			flex-shrink: 1;
			order: 2;
			margin-right: 0;
		}
	}

	img{
		flex-shrink: 0;
		pointer-events: none;
		user-select: none;
		@include res(xl){
			width: 100px;
			height: auto;
		}
		@include res(l){
			width: 70px;
		}
		@include res(m){
			order: 1;
			width: 50px;
		}
	}
}
//s-home-triggers


//s-home-ready
.s-home-ready{
	@extend %padding-for-sections;
}
//s-home-ready


//s-home-sales
.s-home-sales{
	@extend %padding-for-sections;
	background: url("../img/home/sales-bg.jpg") center top no-repeat #f7f6f1;
	background-size: cover;
	@include res(s){
		background: #f7f6f1;
	}

	.products-list{
		.grid-3:nth-child(4){
			@include res(l){
				display: none;
			}
			@include res(s){
				display: block;
			}
		}
	}
}
//s-home-sales


//s-home-reviews
.s-home-reviews{
	padding-top: $pad-xxl;
	padding-bottom: $pad-xl;
	@include res(xl){
		padding-top: $pad-xl;
		padding-bottom: $pad-l;
	}
	@include res(l){
		padding-top: $pad-l;
		padding-bottom: $pad-m;
	}

	.h1{
		padding-top: $pad-xxl;
		@include res(l){
			padding-top: 0;
			margin-bottom: $pad-l;
		}
		@include res(m){
			margin-bottom: $pad-m;
		}
	}
}
//s-home-reviews


//s-photoalbums
.s-photoalbums{
	color: #FFF;
	@extend %padding-for-sections;
	background: url("../img/home/photoalbums-bg.jpg") center top no-repeat $blue;
	&--black {
		background: url("../img/business/photoalbums-bg.jpg") center top no-repeat #35383d;
		background-size: cover;
	}
}

.s-photoalbums__btn-bottom {
	margin-top: $pad-m;
	@include res(xl) {
		margin-bottom:$pad-m;
	}
	@include res(l) {
		margin-top:$pad-s;
	}
}
//s-photoalbums