.s-promo-list{
	padding-bottom: $pad-xl;
}



//subscribe-form
.s-subscribe{
	padding: $pad-xxl 0;
	background: url("../img/subscribe-bg.png") center top no-repeat;

	.h1{
		text-align: center;
		margin-bottom: 0.7em;
	}
}

.subscribe-form{
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	max-width: 100%;

	&__block{
		position: relative;

		input{
			width: 100%;
			height: 56px;
		}

		.btn{
			position: absolute;
			z-index: 2;
			right: 0;
			top: 0;
			height: 56px;
			width: 56px;
			padding: 0;
			align-items: center;
			justify-content: center;

			i{
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	.style-checkbox{
		margin-top: $pad-s;
	}
}
//subscribe-form