.s-register {
	padding-bottom: $pad-xxl;
	background: url("../img/register/bg-pattern.jpg") no-repeat top center;
}

.white-panel{
	background: #FFF;
	padding: $pad-xl;
	border-radius: 30px;
	box-shadow: 0 12px 30px transparentize($blue,0.85);
	margin-bottom: $pad-xl;
	@include res(xl){
		padding: $pad-l;
	}
	@include res(l){
		padding: $pad-m;
	}
	@include res(m){
		margin-bottom: $pad-m;
	}
	@include res(xs){
		padding: $pad-s;
		border-radius: 10px;
	}
}

.register__text {
	padding-left: 5%;
	@include res(m) {
		padding-left: 0;
	}
	.h2 {
		padding-bottom: $pad-s;
		@include res(m) {
			padding-bottom: $pad-xs;
		}
	}
	img {
		max-width: 100%;
		margin-top: $pad-l;
		@include res(l) {
			margin-top: $pad-m;
		}
		@include res(m) {
			display: none;
		}
	}
}