.btn{
	display: inline-block;
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	position: relative;
	padding: 11px $pad-m 13px $pad-m;
	font-size: 14px;
	font-family: $font;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background-color: $orange;
	color: #FFF;
	font-weight: 500;
	border: 1px solid $orange;
	border-radius: 30px;
	@include res(xs){
		padding: 10px $pad-xs;
		font-size: 12px;
	}

	&:hover,&:focus{
		outline: none;
		background: $orange-hover;
		border-color: $orange-hover;
	}

	&:active{
		background: darken($orange,5%);
		border-color: darken($orange,5%);
	}

	i{
		margin-left: auto;
		padding-left: $pad-s;
		line-height: 1;
		@include res(xs){
			padding-left: $pad-xs;
		}
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


.btn--outline{
	color: $black;
	background: transparent;
	border-color: $grey-light;

	&:hover,&:focus{
		background: transparent;
		border-color: $orange-hover;
		color: $orange;
	}

	&:active{
		background: transparent;
		border-color: darken($orange,10%);
		color: darken($orange,10%);
	}

	i{
		color: $orange;
	}
}

.btn--outline-white{
	color: #FFF;
	background: transparent;
	border-color: #FFF;

	&:hover,&:focus{
		background: transparent;
		border-color: $orange-hover;
		color: $orange;
	}

	&:active{
		background: transparent;
		border-color: darken($orange,10%);
		color: darken($orange,10%);
	}

	i{
		color: $orange;
	}
}


.btn--big {
	padding: 18px $pad-m 20px $pad-m;
	font-size: 16px;
	@include res(s){
		padding: 14px $pad-s 16px $pad-s;
		font-size: 14px;
	}
	@include res(xs){
		padding: 10px $pad-xs;
		font-size: 12px;
	}
}

.right-btn {
	text-align: right;
}