//s-top-panel
.s-top-panel{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: $blue;
	color: #FFF;
	z-index: 20;
	padding: $pad-s 0 14px 0;
	user-select: none;
	transform: translate3d(0,0,0);
	@include res(xl){
		padding: $pad-xs 0 6px 0;
	}
	@include res(s){
		display: none;
	}

	&:after{
		content: '';
		width: 100%;
		height: 12px;
		background: url("../img/waves/top-panel-wave.svg") bottom center no-repeat;
		top: 93%;
		left: 0;
		position: absolute;
	}

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include res(l){
			justify-content: flex-end;
		}
	}

	.top-nav{
		@include res(l){
			display: none;
		}
	}
}

.top-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 740px;
	flex-shrink: 1;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	a{
		display: inline-block;
		vertical-align: top;
		padding: $pad-xs;
		line-height: 1;
		background: transparent;
		white-space: nowrap;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		border-radius: 20px;
		transition: background 0.3s ease;
		@include res(xl){
			font-size: 10px;
		}

		&:hover{
			background: darken($blue,10%);
		}

		&.active{
			background: #FFF;
			color: $black;
			font-weight: bold;
		}
	}
}


.user-nav{
	display: flex;
	align-items: center;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&__link{
		display: inline-flex;
		vertical-align: middle;
		align-items: center;
		margin-left: $pad-l;
		@include res(xl){
			margin-left: $pad-s;
		}

		&:hover{
			span,i{
				color: $orange;
			}
			strong{
				background: #FFF;
				color: $orange;
			}
		}

		i{
			font-size: 18px;
			display: inline-block;
			position: relative;
			transition: color 0.3s ease;

			&.i-cart{
				font-size: 24px;
				top: -3px;
				@include res(xl){
					top: 0;
				}
			}
		}

		span{
			display: inline-block;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 1;
			margin-left: $pad-xs;
			font-weight: 700;
			transition: color 0.3s ease;
			white-space: nowrap;
			@include res(xl){
				margin-left: 4px;
			}
		}

		strong{
			font-family: $font;
			border-radius: 50%;
			background: $orange;
			color: #FFF;
			font-weight: bold;
			font-size: 12px;
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			position: relative;
			margin-left: -5px;
			transition: background 0.3s ease,color 0.3s ease;
		}
	}
}

.header_cart{
	position: relative;
	z-index: 5;
	&:before{
		content: '';
		width: 42px;
		height: 42px;
		left: -10px;
		top: -10px;
		border-radius: 50%;
		position: absolute;
		background: $orange;
		opacity: 0;
		transform: scale3d(2,2,2);
		transition: all 0.3s ease;
	}

	&.change{
		&:before{
			animation: basket_change 0.4s 3 ease;
		}
	}
}


@keyframes basket_change{
	0%{
		transform: scale3d(2,2,2);
		opacity: 0;
	}
	80%{
		transform: scale3d(1,1,1);
		opacity: 1;
	}
	100%{
		transform: scale3d(1,1,1);
		opacity: 0;
	}
}
//s-top-panel


//s-head-contacts
.s-head-contacts{
	padding: 90px 0 $pad-l 0;
	@include res(xl){
		padding: 60px 0 $pad-m;
	}
	@include res(s){
		padding: $pad-s 0;
	}

	.container{
		display: flex;
		justify-content: space-between;
		@include res(s){
			flex-wrap: wrap;
		}
	}
}

.head-cont{
	padding-left: 40px;
	position: relative;
	font-weight: 500;
	margin-top: $pad-s;
	@include res(l){
		margin-top: 0;
	}
	@include res(m){
		padding-left: 0;
	}
	@include res(s){
		order: 2;
		width: 50%;
		padding-left: 0;
	}

	.h3{
		display: block;
		line-height: 1;
		@include res(l){
			font-size: 20px;
			line-height: 1.2;
		}
		@include res(m){
			font-family: $font;
			font-weight: bold;
			font-size: 16px;
			line-height: 1;
			margin-bottom: 0.3em;
		}
		@include res(s){
			font-size: 13px;
		}
	}

	span{
		display: block;
		line-height: 1.5;
		@include res(s){
			font-size: 12px;
			line-height: 1.2;
		}
	}

	i{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 30px;
		@include res(m){
			display: none;
		}
	}

	.link{
		@include res(l){
			font-size: 14px;
		}
		@include res(s){
			font-size: 12px;
		}
	}

	&--right{
		@include res(m){
			text-align: right;
		}
	}
}

.head-logo{
	transition: opacity 0.3s ease;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-50px,0);
	@include res(l){
		width: 150px;
		height: auto;
		transform: translate(-30px,0);
	}
	@include res(m){
		transform: none;
	}
	@include res(s){
		width: 115px;
	}

	&:hover{
		opacity: 0.8;
	}

	&__wrap{
		user-select: none;
		margin: 0 $pad-s;
		text-align: center;
		@include res(s){
			width: 100%;
			margin: 0 0 $pad-s 0;
		}

		a{
			display: inline-block;
		}
	}
}
//s-head-contacts


//s-cat-menu
.s-cat-menu{
	padding-bottom: $pad-s;
	user-select: none;
	@media (max-width: 900px){
		display: none;
	}

	.container{
		display: flex;
		align-items: center;
	}

	.search-link{
		padding-left: $pad-s;
		margin-left: auto;
		@include res(l){
			display: none;
		}
	}
}

.cat-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1070px;
	flex-shrink: 1;
	user-select: none;
	@media (max-width: 900px){
		display: none;
	}

	&-item{
		&--1{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-1-decor.png");
				top: 0;
				left: 0;
				width: 36px;
				height: 26px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-1.svg");
				width: 35px;
				height: 36px;
			}
		}
		&--2{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-2-decor.png");
				top: 1px;
				left: -1px;
				width: 34px;
				height: 31px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-2.svg");
				width: 35px;
				height: 34px;
			}
		}
		&--3{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-3-decor.png");
				top: 3px;
				left: 2px;
				width: 37px;
				height: 34px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-3.svg");
				width: 44px;
				height: 45px;
			}
		}
		&--4{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-4-decor.png");
				top: 12px;
				left: 2px;
				width: 26px;
				height: 26px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-4.svg");
				width: 38px;
				height: 39px;
			}
		}
		&--5{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-5-decor.png");
				top: 1px;
				left: 0;
				width: 24px;
				height: 34px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-5.svg");
				width: 27px;
				height: 37px;
			}
		}
		&--6{
			.cat-menu-item__decor{
				background-image: url("../img/catmenu/cat-6-decor.png");
				top: 1px;
				left: -1px;
				width: 43px;
				height: 35px;
			}
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/cat-6.svg");
				width: 42px;
				height: 47px;
			}
		}

		&--search{
			.cat-menu-item__icon{
				background-image: url("../img/catmenu/search.svg");
				width: 26px;
				height: 26px;
			}
		}
	}
}

.cat-menu-item{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	position: relative;
	font-family: $font-title;
	font-weight: normal;
	line-height: 1;
	padding: 0 $pad-s;
	height: 62px;
	transform: translate3d(0,0,0);
	will-change: transform;
	overflow: hidden;
	@include res(xl){
		padding: 0 $pad-xs;
	}

	&__iconwrap{
		position: relative;
		z-index: 5;
		margin-right: $pad-xs;
	}

	&__icon{
		display: block;
		position: relative;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	&__decor{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease;
		opacity: 0;
	}

	span{
		display: inline-block;
		z-index: 5;
		position: relative;
		font-size: 18px;
		@include res(l){
			font-size: 16px;
		}
	}

	&:before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: -2px;
		background: url("../img/catmenu/cat-menu-bg.svg") center top no-repeat;
		background-size: 100% 100%;
		z-index: -1;
		opacity: 0;
		transform: scale3d(0.7,0.9,1) skewX(60deg) rotate(-10deg);
		transition: all 0.4s ease-in-out;
		will-change: transform,opacity;
	}

	&:hover{
		&:before{
			opacity: 1;
			transform: none;
		}
		.cat-menu-item__decor{
			opacity: 1;
			transform: translate(-1px,5px);
		}
	}

	&.active{
		&:before{
			opacity: 1;
			transform: none;
		}
		.cat-menu-item__decor{
			opacity: 1;
			transform: translate(-1px,5px);
		}
	}
}
//s-cat-menu


//search-panel
.search-panel{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $blue;
	box-shadow: 0 10px 25px 0 rgba(0,0,0,0.3);
	z-index: 100;
	padding: $pad-s 0 $pad-xs 0;
	text-align: center;
	transform: translate3d(0,-120px,0);
	transition: transform 0.4s ease;
	@include res(l){
		display: none;
	}

	&:after{
		content: '';
		width: 100%;
		height: 15px;
		background: url("../img/waves/top-panel-wave.svg") bottom center no-repeat;
		top: 100%;
		left: 0;
		position: absolute;
	}
	
	&.opened{
		transform: none;
	}

	form{
		position: relative;
		width: 700px;
		margin-left: auto;
		margin-right: auto;

		input{
			width: 100%;
			border: 1px solid #FFF;
			&:hover{
				border: 1px solid $orange-hover;
			}

			&:focus{
				border: 1px solid $orange;
			}
		}

		button{
			color: $black;
			font-size: 24px;
			border: none;
			background: transparent;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 60px;
			line-height: 58px;
			text-align: center;
			-webkit-appearance: none;
			transition: color 0.3s ease;
			z-index: 2;
			cursor: pointer;

			&:focus{
				outline: none;
				color: $orange;
			}

			&:hover{
				color: $orange;
			}
		}

	}
}
//search-panel


//breadcrumbs
.s-breadcrumbs{
	margin-bottom: $pad-s;
}

.breadcrumbs{
	padding-left: 20px;
	display: flex;
	flex-wrap: wrap;
	@include res(m){
		padding-left: 0;
	}

	a{
		display: inline-block;
		vertical-align: top;
		position: relative;
		font-size: 12px;
		font-weight: 500;
		color: $blue;
		transition: color 0.3s ease;
		line-height: 1.2;
		margin-right: 4px;

		&:hover{
			color: darken($blue,15%);
		}

		&:after{
			content: "\e908";
			font-family: $font-icon;
			font-size: 8px;
			margin-left: 4px;
			pointer-events: none;
			color: $blue;
		}

		&:last-child{
			color: $black;
			pointer-events: none;
			&:after{
				display: none;
			}
		}
	}
}
//breadcrumbs

//mob-fixed-basket
.mob-fixed-basket{
	position: fixed;
	z-index: 50;
	right: 8px;
	top: 8px;
	width: 42px;
	height: 42px;
	background-color: $blue;
	border-radius: 50%;
	color: #FFF;
	box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.3);
	display: none;
	@include res(s){
		display: block;
	}

	span{
		display: none;
	}

	.header_cart{
		margin-left: 0;
		position: absolute;
		top: 9px;
		left: 9px;
	}
}
//mob-fixed-basket