.s-intro{
	padding: 0 $pad-xs 140px $pad-xs;
	position: relative;
	@include res(xl){
		padding-bottom: 100px;
	}
	@include res(l){
		padding-bottom: $pad-xxl;
	}
	@include res(s){
		padding-bottom: $pad-l;
	}

	&:after{
		content: '';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 140px;
		background: linear-gradient(to bottom, $color-bg, #f7f6f1 50%, #FFF 100%);
		@include res(xl){
			height: 100px;
		}
		@include res(l){
			height:$pad-xxl;
		}
		@include res(s){
			height: $pad-l;
		}
	}
}

.intro-wrapper{
	width: 1350px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: $color-bg;
	z-index: 2;

	&:before{
		content: '';
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		top: -2px;
		left: -2px;
		background: url("../img/svg/intro-frame.svg") center top no-repeat;
		background-size: 100% 100%;
		position: absolute;
		z-index: 10;
		pointer-events: none;
		user-select: none;
	}

	&:after{
		content: '';
		position: absolute;
		bottom: -$pad-xl;
		width: 80%;
		left: 0;
		right: 0;
		margin: auto;
		height: 14px;
		border-radius: 50%;
		background: rgba(213,223,225,0.9);
		filter: blur(3px);
		@include res(l){
			bottom: -$pad-l;
		}
		@include res(s){
			display: none;
		}
	}
}

.intro{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 652px;
	padding: 60px;
	@include res(xl){
		min-height: 500px;
	}
	@include res(l){
		min-height: 400px;
		padding: 50px;
	}
	@include res(s){
		padding: 20px 20px 30px 20px;
	}

	&--about {
		background-image: url('../img/about/bg-intro.jpg');
		@include res(m) {
			background-image: url('../img/about/bg-intro-tablet.jpg');
		}
	}
	&--garant {
		background-image: url('../img/garant/bg-intro.jpg');
		@include res(l) {
			background-image: url('../img/garant/bg-intro-tab.jpg');
		}
	}
	&--payment {
		background-image: url('../img/payment/bg-intro.jpg');
		@include res(l) {
			background-image: url('../img/payment/bg-intro-tab.jpg');
		}
	}
	&--delivery {
		 background-image: url('../img/delivery/bg-intro.jpg');
		 @include res(l) {
			 background-image: url('../img/delivery/bg-intro-tab.jpg');
		 }
	 }
	&--business {
		color: #fff;
		background-image: url('../img/business/bg-intro.jpg');
		@include res(l) {
			background-image: url('../img/business/bg-intro-tab.jpg');
		}
	}

	&__content {
		width: 610px;
		max-width: 100%;
		&>.h1 {
			display: block;
			margin-bottom:0.5em;
		}
		&>.btn {
			margin-top: $pad-l;
		}
	}
}

.intro__facts {
	display: flex;
	flex-wrap: wrap;
	padding-top: $pad-xxl;
	@include res(xl) {
		padding-top: $pad-xl;
	}
	@include res(l) {
		padding-top: $pad-l;
	}
	@include res(s) {
		padding-top: $pad-m;
	}
}

.intro__fact {
	width: 33.33333%;
	padding-right: 10px;
	span {
		display: block;
	}
	p {
		font-size: 16px;
		line-height:1.1;
		@include res(l) {
			font-size: 14px;
		}
	}
}

.intro__big-phone {
	padding-top: $pad-l;
	@include res(s) {
		padding-top: $pad-m;
	}
	span {
		display: block;
		padding-bottom: 10px;
		font-size: 16px;
		line-height:1.1;
		@include res(m) {
			font-size: 14px;
			padding-bottom: 6px;
		}
		@include res(s) {
			font-size: 12px;
			padding-bottom: 5px;
		}
	}
}

.intro__sign {
	padding-top: $pad-xxl;
	@include res(xl) {
		padding-top: $pad-xl;
	}
	@include res(l) {
		padding-top: $pad-l;
	}
	@include res(s) {
		padding-top: $pad-m;
	}
	span {}
	p {
		font-size: 16px;
		line-height:1.1;
		@include res(l) {
			font-size: 14px;
		}
	}
}

.intro__payment-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $pad-xxl;
	@include res(l) {
		padding-top: $pad-l;
	}
	@include res(s) {
		padding-top: $pad-m;
	}
}

.intro__payment-item {
	width: 33.33333%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: $pad-xl;
	text-align: center;
	@include res(l) {
		padding-bottom: $pad-l;
	}
	@include res(s) {
		padding-bottom: $pad-m;
	}
	&:nth-child(3n + 1) {
		text-align: left;
	}
	&:nth-child(3n) {
		text-align: right;
	}
	img {
		display: inline-block;
		max-width: 100%;
	}
}

.intro__delivery-list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: $pad-l;
	@include res(l) {
		padding-top: $pad-m;
	}
	@include res(s) {
		padding-top: $pad-s;
	}
	@include res(xs) {
		justify-content: center;
	}
}

.intro__delivery-item {
	width: 33.33333%;
	padding-right: 7%;
	padding-bottom: 15px;
	@include res(m) {
		padding-right: 3%;
		padding-left: 3%;
	}
	@include res(xs) {
		width: 50%;
	}
	span {
		display: block;
		font-size: 16px;
		line-height: 1.1;
		@include res(m) {
			text-align: center;
			font-size: 14px;
		}
		@include res(s) {
			font-size: 12px;
		}
	}
}

.intro__delivery-item-img {
	display: flex;
	align-items: flex-end;
	height: 75px;
	margin-bottom: 10px;
	@include res(m) {
		justify-content: center;
	}
	img {
		display: block;
		max-width: 100%;
		flex-shrink: 0;
	}
}

.intro__delivery-descr {
	position: absolute;
	bottom: 60px;
	left: 60px;
	font-size: 14px;
	line-height: 1.1;
	color: #b6b6b6;
	@include res(xl) {
		bottom: 20px;
	}
	@include res(l) {
		left: 50px;
	}
	@include res(s) {
		position: relative;
		left: inherit;
		bottom: inherit;
		display: block;
		padding-top: 25px;
	}
	@include res(xs) {
		padding-top: 15px;
		font-size: 12px;
	}
}

.intro__price{
	margin-top: $pad-l;
	font-size: 30px;
	@include res(m){
		margin-top: $pad-m;
		font-size: 24px;
	}
	@include res(s){
		margin-top: $pad-xs;
		font-size: 20px;
	}
}

.intro__btn{
	margin-top: $pad-s;
	width: 250px;
	max-width: 100%;
	@include res(s){
		width: auto;
	}
	@include res(s){
		margin-top: $pad-xs;
	}
}